@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* general text formatting */

h1, h2, h3, nav, footer {
  font-family: 'Merriweather', serif;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
}

legend {
  background-color: #616161 ;
  color: white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

fieldset {
  margin: 1em auto;
  background-color: #F5F5F5;
}

div#searchBox, div#settingsBox, div#paintingBox {
  margin: 0.25em auto;
  background-color: #E0E0E0;
  border: 1pt solid #616161;
}

div#searchBox {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
}

div#settingsBox {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;;
  padding: 1em;
}

div#paintingBox {
  background-color: #EEEEEE;
  margin: 1em;
}

table {
  margin: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table thead {
  background-color: #E0E0E0;
  text-align: left;
}

caption {
  background-color: #BDBDBD;
}

tbody tr td {
  border-top: 1px solid black;
  padding: 0.5em;
}

th, td {
  border-spacing: 0px;
}